drools-6-examples/kie-build/src/main/resources/xsd/SeamlessInvoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Wed Jul 16 2014 15:15:56 GMT-0400 (Eastern Daylight Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="root">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="FileName" type="xs:string"></xs:element>
                           <xs:element name="Uploader" maxOccurs="unbounded" type="xs:string"></xs:element>
                           <xs:element name="Recipient" type="xs:string"></xs:element>
                           <xs:element name="UploadProtocol" type="xs:string"></xs:element>
                           <xs:element name="UploadTime" type="xs:string"></xs:element>
                           <xs:element name="ProcessRunsec" type="xs:int"></xs:element>
                           <xs:element name="FileSizeBytes" type="xs:int"></xs:element>
                           <xs:element name="ProcessServer" type="xs:string"></xs:element>
                           <xs:element name="SessionID" type="xs:string"></xs:element>
                           <xs:element name="TransferID" type="xs:string"></xs:element>
                           <xs:element name="Prefix" type="xs:string"></xs:element>
                           <xs:element name="Passon" type="xs:string"></xs:element>
                           <xs:element name="PushSession" type="xs:string"></xs:element>
                           <xs:element name="StateResponse" type="xs:string"></xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>

